#footer-div {

  bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 10%;
  flex: 1;
  text-decoration: none;
}

#footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  color: rgb(248, 248, 248);
  background-color: rgb(128, 128, 254);
}

.about-me-links {
  height: 40px;
  width: 40px;
}
