/* TODO Add site wide styles */
body {
  font-family: 'DM Serif Display', serif;
  background-color: white;
  color: rgb(172, 172, 247);
}

.button {
  text-decoration: none;
  background-color: #d7d9ce;
  font-family: 'DM Serif Display', serif;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  margin: 5px;
}

.button:hover {
  background-color: rgb(128, 128, 254);
  color: #d7d9ce;
}

.a {
  text-decoration: none;
}
