#page-not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

#not-found-link {
  /* background-image: url(https://media.istockphoto.com/photos/falling-king-picture-id169972492?k=6&m=169972492&s=612x612&w=0&h=L59owzb-LtgQhrs5rvCOyp5XcoeQokC4ohFe1-pzyqg=);
  background-repeat: no-repeat;
  object-fit: cover; */
}

#not-found-img {
  width: 600px;
}
