* {
  margin: 0;
  padding: 0;
}

#welcome-div {
  font-family: 'DM Serif Display', serif;
  font-family: 'Playball';
  color: white;
  font-size: 60pt;
}

#splash-page-banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 450px;
  background: url(../../images/DD.jpg) no-repeat;
  background-size: 100%;
  background-position: bottom;
}

#inner-splash-div {
  margin: 50px;
}

#looking-for-game-nav {
  text-decoration: none;
  color: white;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}
