#games-near-you-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

#games-near-you-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 45px;
}

#games-near-you-inner>select {
  border-radius: 2px;
  border: none;
  margin: 20px;
  height: 30px;
  width: 200px;
  color: gray;
  appearance: none;
  border-bottom: grey 1px solid;
}

#events-session-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  width: auto;
  /* margin: 50px; */
  /* overflow-x: scroll; */
  scroll-snap-type: x mandatory;
}

#events-session-bar-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 370px;
  width: 83%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

#sessions-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

#sessions-bar-container {
  width: 90%;
}

.suggestion-header {
  color: black;
  margin: 20px;
}

#no-events-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

#all-sessions-button {
  border-radius: 4px;
  background-color: rgb(255, 79, 31);
  color: white;
  text-decoration: none;
  padding: 12px 16px 12px 18px;
  transition: 0.2s;
}

#all-sessions-button:hover {
  margin-right: 10px;
  box-shadow: 5px 5px 5px black;
}
