#session-card-div {
  border-radius: 5px;
  /* border: 1px black solid; */
  width: 250px;
  height: 330px;
  margin-right: 46px;
  margin-left: 45px;
  margin: 20px;
  padding: 2px;
  min-width: 245px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
}

#session-card-div:hover {
  box-shadow: 5px 5px 5px gray;
}

#session-card-div::-webkit-scrollbar {
  width: 6px;
}

#session-card-div::-webkit-scrollbar-track {
  background: rgb(64, 136, 191)
}

#session-card-div::-webkit-scrollbar-thumb {
  background: rgb(18, 83, 133)
}

.session-card-img {
  width: 250px;
  height: 150px;
  border-radius: 5px;
  margin: none;
  background-size: cover;
}

.session-card {
  text-decoration: none;
  color: black;
}

.session-card>p {
  margin: 8px;
}
