#games-near-you-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: rgb(129, 129, 243);
}

#games-near-you-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  height: 45px;
  color: rgb(129, 129, 243);
}

#events-session-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 100%;
}

#events-session-bar-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between flex-start;
  align-items: flex-start;
  height: 300px;
  width: 80%;
}
