#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(173, 173, 250)
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
  height: 72%;
  font-weight: bold;
  background-color: white;
  border: 2px solid gray;
  border-radius: 15px;
  margin: 15px;
  overflow: auto;
}

#modal-content::-webkit-scrollbar {
  display: none;
}
