.review-div {
  width: 400px;
  max-height: 300px;
  margin: 5px;
  padding: 5px;
  /* border: 2px black solid; */
  border-radius: 10px;
  word-wrap: break-word;
  overflow: auto;
}

.review-div>p {
  font-size: 16pt;
}
